@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 60, 60, 60;
  --background-rgb: 210, 210, 210;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 210, 210, 210;
    --background-rg: 60, 60, 60;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
